<header class="row mb-5">
  <nav class="col-md-8 col-offset-2">
      <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
            </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/color-sort']">Color Sort</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/brush-sort']">Brush Sort</a>
          </li>
      </ul>
  </nav>
</header>